@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo base para que se vea oscuro y futurista desde el inicio */
body {
  background-color: #020b1c;
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
  /* O la fuente que elijas */
  overflow: hidden;
  /* Para evitar scrollbars en la TV */
}